PGHOST=localhost
PGPORT=5764
PGDATABASE=transit_accessibility
PGUSER=postgres
PGPASSWORD=admin

DATABASE_URL=postgresql://postgres:admin@localhost:5764/transit_accessibility
QGIS_PREFIX_PATH=C:\Program Files\QGIS 3.44.11
QGIS_BIN=C:\Program Files\QGIS 3.44.11\bin\qgis-ltr-bin.exe
